@import "tailwindcss";

:root {
  --background: linear-gradient(135deg, #f3f3f3 0%, #c1b9b9 100%);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-body: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Montserrat, Helvetica, Limelight, sans-serif;
}
